.lustre-ui-alert {
  --bg: var(--element-background);
  --border: var(--element-border-subtle);
  --text: var(--text-high-contrast);

  background-color: var(--bg);
  border-radius: var(--border-radius);
  padding: var(--space-sm);
  border: 1px solid var(--border);
  box-shadow: var(--shadow-sm);

  &.clear {
    --bg: unsert;
  }
}
