.lustre-ui-aside {
  --align: start;
  --gap: var(--space-md);
  --dir: row;
  --wrap: wrap;
  --min: 60%;

  align-items: var(--align);
  display: flex;
  flex-direction: var(--dir);
  flex-wrap: var(--wrap);
  gap: var(--gap);

  &.content-first {
    --dir: row;
    --wrap: wrap;
  }

  &.content-last {
    --dir: row-reverse;
    --wrap: wrap-reverse;
  }

  &.align-start {
    --align: start;
  }

  &.align-center,
  &.align-centre {
    --align: center;
  }

  &.align-end {
    --align: end;
  }

  &.stretch {
    --align: stretch;
  }

  &.packed {
    --gap: 0;
  }

  &.tight {
    --gap: var(--space-xs);
  }

  &.relaxed {
    --gap: var(--space-md);
  }

  &.loose {
    --gap: var(--space-lg);
  }

  > :first-child {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: var(--min);
  }

  > :last-child {
    flex-grow: 1;
    max-height: max-content;
  }
}
