.lustre-ui-breadcrumb {
    /* VARIABLES ------------------------------------------------------------ */

    --gap: var(--lustre-ui-spacing-xs);
    --text-hover: rgb(var(--lustre-ui-text));
    --text: rgb(var(--lustre-ui-text-subtle));

    /* BASE STYLES ---------------------------------------------------------- */

    align-items: center;
    color: var(--text);
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);

    /* CHILDREN ------------------------------------------------------------- */

    & > .breadcrumb-item {
        align-items: center;
        display: inline-flex;
        gap: var(--gap);

        &:hover {
            color: var(--text-hover);
        }
    }

    & > .breadcrumb-current {
        color: var(--text-hover);
    }

    & > .breadcrumb-separator {
        user-select: none;

        & > svg {
            height: 1rem;
            width: 1rem;
        }
    }

    & > .breadcrumb-ellipsis {
        align-items: center;
        display: flex;
        height: 2rem;
        justify-content: center;
        user-select: none;
        width: 2rem;

        & > svg {
            height: 1rem;
            width: 1rem;
        }

        & > *:not(svg) {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            white-space: nowrap;
            border-width: 0;
        }
    }
}
