.use-lustre-ui .breadcrumbs,
.lustre-ui-breadcrumbs {
  --gap: var(--space-sm);
  --align: center;

  align-items: var(--align);
  display: flex;
  gap: var(--gap);
  justify-content: start;
  flex-wrap: nowrap;
  overflow-x: auto;

  &.tight {
    --gap: var(--space-xs);
  }

  &.relaxed {
    --gap: var(--space-sm);
  }

  &.loose {
    --gap: var(--space-md);
  }

  &.align-start {
    --align: start;
  }

  &.align-center,
  &.align-centre {
    --align: center;
  }

  &.align-end {
    --align: end;
  }

  & > * {
    flex: 0 0 auto;
  }

  & > .active,
  &:not(:has(.active)) > :last-child {
    color: var(--text-low-contrast);
  }
}
