.lustre-ui-button {
  --bg-active: var(--element-background-strong);
  --bg-hover: var(--element-background-hover);
  --bg: var(--element-background);
  --border-active: var(--bg-active);
  --border: var(--bg);
  --text: var(--text-high-contrast);

  background-color: var(--bg);
  border: 1px solid var(--border, var(--bg), var(--element-border-subtle));
  border-radius: var(--border-radius);
  color: var(--text);
  padding: var(--space-xs) var(--space-sm);

  &:hover,
  &:focus-within {
    background-color: var(--bg-hover);
  }

  &:hover:active,
  &:focus-within:active {
    background-color: var(--bg-active);
    border-color: var(--border-active);
  }

  &.solid {
    --bg-active: var(--solid-background-hover);
    --bg-hover: var(--solid-background-hover);
    --bg: var(--solid-background);
    --border-active: var(--solid-background-hover);
    --border: var(--solid-background);
    --text: white;

    &:hover:active,
    &:focus-within:active {
      --bg-active: color-mix(in srgb, var(--solid-background-hover) 90%, black);
      --border-active: color-mix(
        in srgb,
        var(--solid-background-hover) 90%,
        black
      );
    }
  }

  &.soft {
    --bg-active: var(--element-background-strong);
    --bg-hover: var(--element-background-hover);
    --bg: var(--element-background);
    --border-active: var(--bg-active);
    --border: var(--bg);
    --text: var(--text-high-contrast);
  }

  &.outline {
    --bg: unset;
    --border: var(--element-border-subtle);
  }
}
