.lustre-ui-button {
    /* VARIABLES ------------------------------------------------------------ */

    --background: rgb(var(--lustre-ui-tint));
    --background-hover: rgb(var(--lustre-ui-tint-strong));
    --border: transparent;
    --border-hover: transparent;
    --border-width: 1px;
    --height: 2rem;
    --height-min: 2rem;
    --padding-x: var(--lustre-ui-spacing-sm);
    --radius: var(--lustre-ui-radius-sm);
    --text: rgb(var(--lustre-ui-text));

    /* BASE STYLES ---------------------------------------------------------- */

    align-items: center;
    background-color: var(--background);
    border: var(--border-width) solid var(--border);
    border-radius: var(--radius);
    color: var(--text);
    display: inline-flex;
    gap: var(--padding-x);
    justify-content: center;
    min-height: var(--height-min);
    padding-left: var(--padding-x);
    padding-right: var(--padding-x);
    white-space: nowrap;

    &:disabled {
        pointer-events: none;
        opacity: 0.5;
        cursor: default;
    }

    &:hover,
    &:focus {
        outline-offset: 2px;
        outline: 2px solid transparent;
        background-color: var(--background-hover);
        border-color: var(--border-hover);
    }

    &:active {
        transform: translateY(1px);
    }

    &:is(a) {
        text-decoration: none;

        &:visited {
            color: var(--text);
        }
    }

    /* SIZE VARIANTS -------------------------------------------------------- */

    &.button-icon {
        --height: 2rem;
        width: var(--height);

        & > svg {
            height: 100%;
            width: 100%;
        }
    }

    &.button-small {
        --height: 2rem;
        --padding-x: var(--lustre-ui-spacing-sm);
    }

    &.button-medium {
        --height: 2.25rem;
        --padding-x: var(--lustre-ui-spacing-md);
    }

    &.button-large {
        --height: 2.5rem;
        --padding-x: var(--lustre-ui-spacing-lg);
    }

    /* COLOUR VARIANTS ------------------------------------------------------ */

    &.button-clear {
        --background: transparent;
        --background-hover: rgb(var(--lustre-ui-tint));
        --border: transparent;
        --border-hover: transparent;
        --text: rgb(var(--lustre-ui-text));
    }

    &.button-outline {
        --background: transparent;
        --background-hover: transparent;
        --border: rgb(var(--lustre-ui-accent));
        --border-hover: rgb(var(--lustre-ui-accent-strong));
        --text: rgb(var(--lustre-ui-text));
    }

    &.button-soft {
        --background: rgb(var(--lustre-ui-tint));
        --background-hover: rgb(var(--lustre-ui-tint-strong));
        --border: transparent;
        --border-hover: transparent;
        --text: rgb(var(--lustre-ui-text));
    }

    &.button-solid {
        --background: rgb(var(--lustre-ui-solid));
        --background-hover: rgb(var(--lustre-ui-solid) / 0.8);
        --border: transparent;
        --border-hover: transparent;
        --text: rgb(var(--lustre-ui-solid-text));
    }

    /* CHILDREN ------------------------------------------------------------- */

    & .button-badge {
        display: inline-flex;
        align-items: center;
        font-size: 0.625em;
        border: 1px solid var(--text);
        border-radius: var(--radius);
        padding: 0 1ch;
        margin: 0 calc(-1 * var(--padding-x) / 2);

        & .key + .key::before {
            content: var(--separator, "");
        }

        & .icon {
            width: 1em;
            height: 1em;
        }
    }
}
