.lustre-ui-cluster {
  --gap: var(--space-md);
  --dir: flex-start;
  --align: center;

  align-items: var(--align);
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  justify-content: var(--dir);

  &.packed {
    --gap: 0;
  }

  &.tight {
    --gap: var(--space-xs);
  }

  &.relaxed {
    --gap: var(--space-md);
  }

  &.loose {
    --gap: var(--space-lg);
  }

  &.from-start {
    --dir: flex-start;
  }

  &.from-end {
    --dir: flex-end;
  }

  &.align-start {
    --align: start;
  }

  &.align-center,
  &.align-centre {
    --align: center;
  }

  &.align-end {
    --align: end;
  }

  &.stretch {
    --align: stretch;
  }
}
