.use-lustre-ui .group,
.lustre-ui-group {
  display: inline-flex;
  align-items: stretch;

  & > *:first-child {
    border-radius: var(--border-radius) 0 0 var(--border-radius) !important;
  }

  & > *:not(:first-child):not(:last-child) {
    border-radius: 0 !important;
  }

  & > *:last-child {
    border-radius: 0 var(--border-radius) var(--border-radius) 0 !important;
  }
}
