.lustre-ui-icon {
  --size: 1em;

  display: inline;
  width: var(--size);
  height: var(--size);

  &.xs {
    --size: var(--text-xs);
  }

  &.sm {
    --size: var(--text-sm);
  }

  &.md {
    --size: var(--text-md);
  }

  &.lg {
    --size: var(--text-lg);
  }

  &.xl {
    --size: var(--text-xl);
  }
}
