.use-lustre-ui .prose,
.lustre-ui-prose {
  --width: 60ch;

  width: var(--width);

  &.wide {
    --width: 80ch;
  }

  &.full {
    --width: 100%;
  }

  /* BLOCK SPACING ---------------------------------------------------------- */

  & * + * {
    margin-top: var(--space-md);
  }

  & *:not(h1, h2, h3, h4, h5, h6) + :is(h1, h2, h3, h4, h5, h6) {
    margin-top: var(--space-xl);
  }

  /* HEADINGS --------------------------------------------------------------- */

  & h1 {
    font-size: var(--text-3xl);
  }

  & h2 {
    font-size: var(--text-2xl);
  }

  & h3 {
    font-size: var(--text-xl);
  }

  & :is(h4, h5, h6) {
    font-size: var(--text-lg);
  }

  /* IMAGES ----------------------------------------------------------------- */

  & img {
    display: block;
    width: 100%;
    border-radius: var(--border-radius);
    object-fit: cover;
    height: auto;
  }

  /* LISTS ------------------------------------------------------------------ */

  & ul {
    list-style: disc;
  }

  & ol {
    list-style: decimal;
  }

  & :is(ul, ol, dl) {
    padding-left: var(--space-xl);

    & > * + * {
      margin-top: var(--space-md);
    }
  }

  & li::marker {
    color: var(--text-low-contrast);
  }

  /* CODE BLOCKS ------------------------------------------------------------ */

  & pre {
    padding: var(--space-sm) var(--space-md);
    background-color: var(--greyscale-element-background);
    border-radius: var(--border-radius);
    overflow-x: auto;

    & > code {
      padding: 0;
      color: inherit;
      background-color: transparent;
      border-radius: 0;
      font-size: var(--text-md);
    }
  }

  /* BLOCKQUOTES ------------------------------------------------------------ */

  & blockquote {
    padding-left: var(--space-xl);
    border-left-width: 4px;
    border-left-style: solid;
    border-left-color: var(--element-border-subtle);
    quotes: "\201C""\201D""\2018""\2019";

    & > * {
      font-style: italic;
    }

    & > * + * {
      margin-top: var(--space-sm);
    }

    & > :first-child::before {
      content: open-quote;
    }

    & > :last-child::after {
      content: close-quote;
    }
  }

  /* INLINE ELEMENTS -------------------------------------------------------- */

  & a[href] {
    color: var(--text-low-contrast);
    text-decoration: underline;

    &:visited {
      color: var(--text-high-contrast);
    }
  }

  & :is(code, kbd) {
    background-color: var(--greyscale-element-background);
    border-radius: var(--border-radius);
  }

  & :not(pre) code {
    color: var(--text-high-contrast);

    &::before,
    &::after {
      content: "\`";
    }
  }

  & kbd {
    padding: 0 var(--space-2xs);
    border-width: 1px;
    border-color: var(--greyscale-element-border-strong);
    font-weight: bold;
  }
}
