.use-lustre-ui .centre,
.use-lustre-ui .center,
.lustre-ui-centre,
.lustre-ui-center {
  --display: flex;

  display: var(--display);
  justify-content: center;
  align-items: center;

  &.inline {
    --display: inline-flex;
  }
}
